/* body {
  text-align: center;
}

header,
footer {
  padding: 2rem;
}

header {
  margin-top: 2px;
}

footer {
  margin-bottom: 2px;
}
 */


/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #cbcbf6ea);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #e8c6f3df);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 10s linear;
  }

  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 10s linear;
  }
} */

/* .read-the-docs {
  color: #c5b2d6;
} */