:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #61133c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

header,
footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

body {
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 200px);
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

h2 {
  padding: 1rem;
  margin: 2rem 0;
}

h3 {
  padding: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.card {
  height: 160px;
  width: 200px;
  background-color: #ae8baa;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px 3px rgba(43, 3, 36, 0.807);
  padding: 2rem;
  margin: 1.5rem;
}

.card:hover {
  filter: saturate(90%);
  border: 1px solid #d7c2d5;
  cursor: pointer;
}

img {
  width: 80px;
  height: auto;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #216a62;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: inset 0 0 2px rgba(12, 45, 24, 0.78);
}

button:hover {
  border-color: #ececf2ca;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.close {
  font-size: 0.7rem;
  margin: 0.5rem;
}

.old {
  color: rgb(139, 82, 109);
}

.young {
  color: #7ebdb6;
}

input {
  margin-top: 1rem;
  border: none;
  font-family: inherit;
  padding: 0.3rem;
  background: white;
  color: #216a62;
  border-radius: 2px;
}



/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */